<a href="https://colab.research.google.com/github/SabanaSultana/Python_AI/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variable, Data Types, Operators, Control Flow(IF, Else & Loops)

In [1]:
print("Line 1")

Line 1

In [2]:
a, b, c=10,23,34
print(a)

10

In [3]:
print(b)

23

In [4]:
print(type("Sabana"))

<class 'str'>

In [5]:
print(type(11))

<class 'int'>

In [6]:
a="10"
print(float(a))

10.0

In [7]:
print(10==20)

False

In [8]:
print(10=='10')

False

In [9]:
if a==10 and b==30:
   print(a,b, sep="....")
else:
   print("Data doesn't match")

Data doesn't match

In [10]:
print(10|20)

30

In [11]:
# print('Sabana' + 345)

In [12]:
print("sabana", 5)

sabana 5

In [13]:
# print(5 +'10')

In [14]:
print('sabana' + '10')

sabana10

In [15]:
print(10 + int('10'))

20

In [16]:
print(10*20)

200

In [17]:
print(10**2)

100

In [18]:
print(10/2)

5.0

In [19]:
print(10//2)

5

In [20]:
print(11/2)

5.5

In [21]:
print(11//2)

5

In [22]:
print(12%3)

0

In [23]:
print(11%3)

2

In [24]:
print('10'=='sabana')

False

In [25]:
print(10=='10')

False

In [26]:
print('Sabana'=="Sabana")

True

In [27]:
print('Sabana'=='sabana')

False

In [28]:
if True:
  print("Sabana")

Sabana

In [29]:
age=int(input("Enter a value"))
if age>18:
  print("Eligible")
  if age <50:
    print("Junior")
  else :
    print("Senior")
else:
  print("Not Eligible")

Enter a value10
Not Eligible

In [30]:
marks=int(input("Enter a value"))
if marks< 90 and marks>70:
  print("O")
elif marks>50 and marks<70 :
  print("E")
elif marks>20 and marks<40:
  print("C")
else :
  print("Fail")

Enter a value20
Fail

In [31]:
range (0,5)

range(0, 5)

In [32]:
## For Loop
for i in range(5):
  print(i)

0
1
2
3
4

In [33]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [34]:
for i in range(1, 50, 5):  # 5 is step size of increament
  print(i)

1
6
11
16
21
26
31
36
41
46

In [35]:
for i in range(10, 1, -2):
  print(i)

10
8
6
4
2

In [36]:
for i in range (1, 10, -2):
  print(i)

In [37]:
strr="Sabana Sultana"
for i in strr:
  print(i)

S
a
b
a
n
a

S
u
l
t
a
n
a

In [38]:
## While Loop
# num=10
# while num>1:
#   print(num)
#   num=num-2

# while num>0:
#   print(num)

In [39]:
# Break, Continue, Pass

# for i in range(50):
#   if i > 10 :
#     break
#   print(i)
# for i in range(50):
#   if i > 10 and i < 20:
#     continue
#   print(i)


for i in range(10):
  if i > 10 and i < 20:
    pass # do nothing
  print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
# Nested For Loop

for i in range(5):
  for j in range(10):
    print(f" i: {i} and j: {j}")

 i: 0 and j: 0
 i: 0 and j: 1
 i: 0 and j: 2
 i: 0 and j: 3
 i: 0 and j: 4
 i: 0 and j: 5
 i: 0 and j: 6
 i: 0 and j: 7
 i: 0 and j: 8
 i: 0 and j: 9
 i: 1 and j: 0
 i: 1 and j: 1
 i: 1 and j: 2
 i: 1 and j: 3
 i: 1 and j: 4
 i: 1 and j: 5
 i: 1 and j: 6
 i: 1 and j: 7
 i: 1 and j: 8
 i: 1 and j: 9
 i: 2 and j: 0
 i: 2 and j: 1
 i: 2 and j: 2
 i: 2 and j: 3
 i: 2 and j: 4
 i: 2 and j: 5
 i: 2 and j: 6
 i: 2 and j: 7
 i: 2 and j: 8
 i: 2 and j: 9
 i: 3 and j: 0
 i: 3 and j: 1
 i: 3 and j: 2
 i: 3 and j: 3
 i: 3 and j: 4
 i: 3 and j: 5
 i: 3 and j: 6
 i: 3 and j: 7
 i: 3 and j: 8
 i: 3 and j: 9
 i: 4 and j: 0
 i: 4 and j: 1
 i: 4 and j: 2
 i: 4 and j: 3
 i: 4 and j: 4
 i: 4 and j: 5
 i: 4 and j: 6
 i: 4 and j: 7
 i: 4 and j: 8
 i: 4 and j: 9

# Data Structures in Python

**LIST**

In [41]:
names=['Sa','Ba', 'Na', 'Su']
print(names)

['Sa', 'Ba', 'Na', 'Su']

In [42]:
print(names[0])

Sa

In [43]:
print(names[1])

Ba

In [44]:
print(names[-1])

Su

In [45]:
print(names[-2])

Na

In [46]:
print(names[1:])

['Ba', 'Na', 'Su']

In [47]:
print(names[:3])

['Sa', 'Ba', 'Na']

In [48]:
print(names[1:3])

['Ba', 'Na']

In [49]:
mixed_list=['sa', 1, 34, 6.7, True, ['Apple', 'Banana', 'Guava', 'Orange']]

In [50]:
mixed_list

['sa', 1, 34, 6.7, True, ['Apple', 'Banana', 'Guava', 'Orange']]

In [51]:
print(mixed_list)

['sa', 1, 34, 6.7, True, ['Apple', 'Banana', 'Guava', 'Orange']]

In [52]:
mixed_list[5][0]

'Apple'

In [53]:
mixed_list[5][1:]

['Banana', 'Guava', 'Orange']

In [54]:
mixed_list[0]='This is string'

In [55]:
print(mixed_list)

['This is string', 1, 34, 6.7, True, ['Apple', 'Banana', 'Guava', 'Orange']]

In [56]:
mixed_list[3:]='Sabana Sultana'

In [57]:
mixed_list

['This is string',
 1,
 34,
 'S',
 'a',
 'b',
 'a',
 'n',
 'a',
 ' ',
 'S',
 'u',
 'l',
 't',
 'a',
 'n',
 'a']

In [58]:
mixed_list=['sa', 1, 34, 6.7, True, ['Apple', 'Banana', 'Guava', 'Orange']]

mixed_list.insert(2,'Hiii')
mixed_list.insert(2,'100')
mixed_list.insert(6,100)
print(mixed_list.count(100))
mixed_list.insert(1,'Hiii')
print(mixed_list.count('Hiii'))

mixed_list.remove(34)

1
2

In [59]:
print(mixed_list)

['sa', 'Hiii', 1, '100', 'Hiii', 6.7, 100, True, ['Apple', 'Banana', 'Guava', 'Orange']]

In [60]:
mixed_list[8].remove('Guava')

In [61]:
mixed_list.pop()

['Apple', 'Banana', 'Orange']

In [62]:
mixed_list.clear()

In [63]:
names

['Sa', 'Ba', 'Na', 'Su']

In [64]:
# names.insert("Tana") # error

In [65]:
names[:]

['Sa', 'Ba', 'Na', 'Su']

In [66]:
print(names[:])
print(names[::])
print(names[2:])
print(names[:2])
print(names[1:3])
print(names[:: 2])
print(names[:: 3])
print(names)
print(names[:: -1])
print(names[:: -2])
print(names[:: -3])
print(names[:-1])
print(names[:-2])
print(names[-2:])
print(names[-4:-2])

['Sa', 'Ba', 'Na', 'Su']
['Sa', 'Ba', 'Na', 'Su']
['Na', 'Su']
['Sa', 'Ba']
['Ba', 'Na']
['Sa', 'Na']
['Sa', 'Su']
['Sa', 'Ba', 'Na', 'Su']
['Su', 'Na', 'Ba', 'Sa']
['Su', 'Ba']
['Su', 'Sa']
['Sa', 'Ba', 'Na']
['Sa', 'Ba']
['Na', 'Su']
['Sa', 'Ba']

In [67]:
for st in names:
  print(st)

Sa
Ba
Na
Su

In [68]:
print(names.index('Su'))

3

In [69]:
for index, name in enumerate(names):
  print(index,name)

0 Sa
1 Ba
2 Na
3 Su

In [70]:
names.append('l')

In [71]:
names

['Sa', 'Ba', 'Na', 'Su', 'l']

`List Comprehension`

In [72]:
nums=[]
for i in range(10):
  nums.append(i**2)
print(nums)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [73]:
[10,23,40]

[10, 23, 40]

In [74]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [75]:
evens = [x for x in range(10) if x % 2 == 0]
print(evens)   # [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [76]:
l1=[1,2,3,4]
l2=['a','b','c','d']
pai=[[i,j] for i in l1 for j in l2]
# pai
print(pai)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [77]:
# print(name='Sabana')  ## error

In [78]:
names

['Sa', 'Ba', 'Na', 'Su', 'l']

In [79]:
len=[len(word)for word in names]
len

[2, 2, 2, 2, 1]

In [80]:
labels = ["even" if x % 2 == 0 else "odd" for x in range(5)]
print(labels)   # ['even', 'odd', 'even', 'odd', 'even']

['even', 'odd', 'even', 'odd', 'even']

In [81]:
# ["even" if x%2==0 else x=x+1 for x in range(5)] ## error or invalid syntax

**TUPLE**

In [82]:
lst=list()
tpl=tuple()

print(type(lst), type(tpl))

<class 'list'> <class 'tuple'>

In [83]:
tpll=()
print(type(tpll))

<class 'tuple'>

In [84]:
print( '1'*3)

111

In [85]:
print("Sabana"* 3)

SabanaSabanaSabana

In [86]:
l=[1,2,3,40]
t=tuple(l)
print(type(t))
print(type(l))

<class 'tuple'>
<class 'list'>

In [87]:
tpl=(1,2,3,4)
print(tpl)

(1, 2, 3, 4)

In [88]:
mixed_tpl=(1,'a',True, 4.6, [1,4,5])
mixed_tpl

(1, 'a', True, 4.6, [1, 4, 5])

In [89]:
mixed_tpl[0]

1

In [90]:
# mixed_tpl[1]='Sabana' ## error

In [91]:
# mixed_tpl.append(10) error, insert error

In [92]:
mixed_tpl*3

(1,
 'a',
 True,
 4.6,
 [1, 4, 5],
 1,
 'a',
 True,
 4.6,
 [1, 4, 5],
 1,
 'a',
 True,
 4.6,
 [1, 4, 5])

In [93]:
tpl+mixed_tpl

(1, 2, 3, 4, 1, 'a', True, 4.6, [1, 4, 5])

In [94]:
# mixed_tpl.pop() error

In [95]:
print(mixed_tpl.count(4.6))
print(mixed_tpl.index(4.6))

1
3

In [96]:
mixed_tpl[3]

4.6

In [97]:
## Packing and Unpacking
packed_tpl=1,45,5,6,True, 'Stringg'
print(packed_tpl)

(1, 45, 5, 6, True, 'Stringg')

In [98]:
a,b,c,d,e,f=packed_tpl
print(a,b,c,d,e,f)

1 45 5 6 True Stringg

In [99]:
a, *b, d=packed_tpl
print(a)
print(*b)
print(b)
print(d)

1
45 5 6 True
[45, 5, 6, True]
Stringg

**DICTIONARY**

In [100]:
empty_dict={}
empty_dict2=dict()

print(type(empty_dict), " ",type(empty_dict2))

<class 'dict'>   <class 'dict'>

In [101]:
d={"name":"sabana", "age":24, "name":"sultana"}    ## error or mistake, only single key will be considered and the latest value will be reflected
print(d)

{'name': 'sultana', 'age': 24}

In [102]:
d['age']

24

In [103]:
d.get('age')

24

In [104]:
d.get('last_name')

In [105]:
d.get('last_name', 'sultana')  # first param is key and if not present sultana is deafult value and will be printed

'sultana'

In [106]:
### add, update and delete in dictionary

d['title']='sk'
d['surname']='saikh'
d['age']=21
d

{'name': 'sultana', 'age': 21, 'title': 'sk', 'surname': 'saikh'}

In [107]:
del d['surname']

In [108]:
d

{'name': 'sultana', 'age': 21, 'title': 'sk'}

In [109]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'age', 'title'])
dict_values(['sultana', 21, 'sk'])
dict_items([('name', 'sultana'), ('age', 21), ('title', 'sk')])

In [110]:
# items are here list of tuples

In [111]:
## Shallow Copy **********
# d_copy=d
# print("d_copy ", d_copy)
# print("d ", d)

# d_copy['age']=23
# print("d_copy ", d_copy)
# print("d ", d)


##### Shallow Copy

d_copy=d.copy()
print("d_copy ", d_copy)
print("d ", d)

d_copy['age']=23
print("d_copy ", d_copy)
print("d ", d)

d_copy  {'name': 'sultana', 'age': 21, 'title': 'sk'}
d  {'name': 'sultana', 'age': 21, 'title': 'sk'}
d_copy  {'name': 'sultana', 'age': 23, 'title': 'sk'}
d  {'name': 'sultana', 'age': 21, 'title': 'sk'}

In [112]:
## Different types of iteration in dictionary

for keys in d.keys():
  print(keys)
  print (keys, ':', d[keys])

for values in d.values():
  print(values)

for key, value in d.items():
  print(f"{key}: {value}")

name
name : sultana
age
age : 21
title
title : sk
sultana
21
sk
name: sultana
age: 21
title: sk

In [113]:
##### Nested Dictionary
students = {
    "Alice": {"age": 23, "major": "Computer Science"},
    "Bob": {"age": 21, "major": "Mathematics"},
    "Charlie": {"age": 22, "major": "Physics"}
}

students

{'Alice': {'age': 23, 'major': 'Computer Science'},
 'Bob': {'age': 21, 'major': 'Mathematics'},
 'Charlie': {'age': 22, 'major': 'Physics'}}

In [114]:
students.keys()
students.values()

dict_values([{'age': 23, 'major': 'Computer Science'}, {'age': 21, 'major': 'Mathematics'}, {'age': 22, 'major': 'Physics'}])

In [115]:
for name, details in students.items():
    print(f"Student: {name}")
    for key, value in details.items():
        print(f"  {key}: {value}")

Student: Alice
  age: 23
  major: Computer Science
Student: Bob
  age: 21
  major: Mathematics
Student: Charlie
  age: 22
  major: Physics

In [116]:
###### Dictionary Comprehension

di= {x: x**2 for x in range(5)}
di

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [117]:
dii={x: x**2 for x in range(10) if x%2==0}

In [118]:
dii

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [119]:
diii={x:"even" if x%2==0 else "odd" for x in range (10)}

In [120]:
diii

{0: 'even',
 1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd'}

In [121]:
#### Merge two dicts

dict1={"name":"Sabana", "age":"Sultana"}
dict2={"surname":"Sultana", "dob":"05-04-2004"}

merged_dict={**dict1, **dict2}

merged_dict

{'name': 'Sabana', 'age': 'Sultana', 'surname': 'Sultana', 'dob': '05-04-2004'}

In [122]:
# merged_dict=dict1+dict2    ### error
# merged_dict

In [123]:
# merged_dict={dict1, dict2}   #### error
# merged_dict

In [124]:

l=[1,"sabana",6.7, "apple"]

if "sabana" in  l:
  print("Your name is Sabana")
else:
  print("Your name is not mentioned")


if 6.8 in l:
  print(True)
else:
  print(False)

Your name is Sabana
False

# **Function**

In [126]:
def fun():
  print("Hello Sabana")

fun()

Hello Sabana

In [127]:
def fun(num):
  print(f"Hello Sabana {num}")

fun(2)

Hello Sabana 2

In [128]:
## Default parameter value
def fun(num=100):
  print(f"Hello Sabana {num}")

fun()

Hello Sabana 100

In [129]:
def fun(l=[1,56,9.0,True, "Sabana"]):
  print(f"Hello Sabana {l} and {l[-1]}")

fun()

Hello Sabana [1, 56, 9.0, True, 'Sabana'] and Sabana

In [131]:
# def fun(l=[1,56,9.0,True, "Sabana"]):
#   print(f"Hello Sabana {l} and {l[-1]}")

# fun(10)   --error

In [132]:
def fun(l=[1,56,9.0,True, "Sabana"]):
  print(f"Hello Sabana {l} and {l[-1]}")

fun([3,4,5,6.7])

Hello Sabana [3, 4, 5, 6.7] and 6.7

In [133]:
def fun(name="Sultana"):
  print(f"Hello Sabana {name}")

fun("Sk")

Hello Sabana Sk

In [134]:
def fun(a,b):
  return a+b
print(fun(24,56))

80

In [135]:
## POSITIONAL ARGUMENTS

def fun (*num):
   for nn in num:
    print(nn)
fun(1,2,3,4)

1
2
3
4

In [137]:
def fun_return (a,b):
  return a+b, a,b, a-b
print(fun_return(1,2))

(3, 1, 2, -1)

In [138]:
def fun_return (a,b):
  return [a+b, a,b, a-b]
print(fun_return(1,2))

[3, 1, 2, -1]

In [139]:
def fun_return (a,b):
  return {a+b, a,b, a-b}
print(fun_return(1,2))

{1, 2, 3, -1}

In [136]:
## POSITIONAL ARGUMENTS

def fun (*args):
   for nn in args:
    print(nn)
fun(1,2,3,4)

1
2
3
4

In [146]:
## KEYWORDS ARGUMENTSS
def fun(**kwargs):   # use **kwargs for keyword arguments
    for key, value in kwargs.items():   # use .items()
        print(key, ":", value)

fun(name="Sabana", age=24, title="SK")

name : Sabana
age : 24
title : SK

In [149]:
# ## KEYWORDS ARGUMENTSS
# def fun(kwargs):   # <-- you used *kwargs
#     for nn in kwargs.item():   # <-- typo: should be .items()
#         print(nn)

# fun(name="Sabana")
# error

In [153]:
## KEYWORDS ARGUMENTSS
def fun(*args, **kwargs):   # use **kwargs for keyword arguments
    for i in args:
      print("Positional Arguments .. ", i)
    for key, value in kwargs.items():   # use .items()
        print(key, ":", value)

# fun(1,4.5,'sabana', name="Sabana", age=24, 1,title="SK") error


# fun(1,4.5,'sabana', name="Sabana", age=24,title="SK") Correct, sequence matters

In [154]:
password = "PASSWORD123"

if not any(char.islower() for char in password):
    print("Password must contain lowercase letters")
else:
    print("Password is valid")

Password must contain lowercase letters